.slider {
  display: flex;

  justify-content: center;
  align-items: center;
}
.items {
  width: 100px;
  height: 100px;
  margin: 20px;
  padding: 20px;
  gap: 10px;
  flex: auto;
  display: flex;
  font-size: 20px;
  font-weight: 200;
  flex-direction: column;
  border-radius: 50px;
  background: #61dce5;
  box-shadow: 7px 7px 14px #52bbc3, -7px -7px 14px #70fdff;
}
